<div class="signup-screen">
    <!-- <div>
        <h2>Enter Your Details</h2>
    </div> -->
    <!-- <br><br>
    <p>Form Status: {{ signupForm.status }}</p>
    <br><br> -->
    <div>
        <form action="">
            <form action="" [formGroup]="signupForm" (ngSubmit)="signUp()">
                <div class="">
                    <input formControlName="firstname" type="text" name="" id="" placeholder="Firstname">
                </div>
                <div>
                    <input formControlName="lastname" type="text" name="" id="" placeholder="Lastname">
                </div>
                <div>
                    <input formControlName="email" type="text" name="" id="" placeholder="Email">
                </div>
                <div>
                    <input type="text" formControlName="mobilenumber" placeholder="Mobile Number" />
                </div>
                <div>
                    <input formControlName="password" type="text" name="" id="" placeholder="Password">
                </div>
                <!-- <div>
                <input formControlName="confirmpassword" type="text" name="" id="" placeholder="Confirm Password">
            </div> -->
                <div>
                    <button class="btn btn-success">Submit</button>
                </div>
            </form>
            <div>
                <a routerLink="/Login">Alreadey Registered? Click Here to Login</a>
            </div>
        </form>
    </div>
</div>